* {
    margin: 0;
}
.row {
    float: clear;
}
.row1{
    text-align: right;

}
.left {
    width: 50%;
    float: left;
}
.right {
    width: 50%;
    float: left;
}
.label {
    font-weight: bold;
}
.fontForSticker {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
}
.dept {
       
    font-size: 15px;
}
